<%- include('blocks/header', {path, auth}) %>
			<% articles.forEach(el => {%>
				<div class="post-info"><%= el.user.name %> - <span class="longdate"><%= el.date %></span></div>
				<article class="post">
					<header><a href="/view/<%= el.id %>"><%= el.title %></a></header>
					<main class="post"><%- el.content %></main>
					<footer class="post">
					  <div class="post-actions">View</div>
					  <div class="post-commentcount"><%= el.commentCount %> Comments</div>
					</footer>
				</article>
			<% }); %>
<% include ./blocks/footer %>