<%- include('blocks/header', {path, auth, settings}) %>
<h1><%= user.name %></h1>

				<article>
					<%= user.username %>
				</article>

				<h2><%= articles.size %> articles</h2>
				<ul>
				<% articles.forEach(el => { %>
				  <li>View : <a href="/view/<%= el.id %>"><%= el.title %></a></li>
				<% }); %>
				</ul>

<% include ./blocks/footer %>